@Scripts.Render("~/Areas/Auth/Models/role.js")
<script type="text/javascript">
    $(function () {
        role.init(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
        $("#role-div").toggleClass('hidden');
     })
 </script>
<div id="role-div" class="easyui-layout hidden" data-options="fit:true,border:false">
    <div data-options="region:'north',split:false,border:false" class="toolbar">
        <div class="panel-header">
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-create'" onclick="role.doCreate();">@Lang.Common.Btn_Create</a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit'" onclick="role.doEdit();">@Lang.Common.Btn_Edit</a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" onclick="role.doSave();">@Lang.Common.Btn_Save</a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-delete'" onclick="role.doDelete();">@Lang.Common.Btn_Delete</a>
            <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'" onclick="role.doReload();">@Lang.Common.Btn_Reload</a>
        </div>
    </div>
    <div class="easyui-layout center" data-options="region:'center',border:false">
        <div data-options="region:'west',split:false,border:false" style="width: 600px;" class="center">
            <table id="role-grid" data-options="fit:true" >
                <thead>
                    <tr>
                        <th data-options="field:'Name',width:100">角色名称</th>
                        <th  data-options="field:'Comments',width:100"> 描述</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div data-options="region:'center',border:false" class="center">
            <form id="role-form" class="easyui-form" style="padding: 20px;">
                <input name="Id" type="hidden"/>
                <input name="Version" type="hidden"/>
                <div class="view-title">@Lang.Common.Form_Detail</div>
                <table id="role-edit" class="view-table column1">
                    <tr>
                        <td><label>角色名称:</label></td>
                        <td><input name="Name" class="easyui-validatebox" data-options="required:true"/></td>
                    </tr>
                    <tr>
                        <td><label>备注:</label></td>
                        <td>
                            <textarea name="Comments" class="textarea1"></textarea>
                        </td>
                    </tr>
                </table>
               
                <div class="view-title">角色的用户</div>
                <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick="trade.doDeleteAccount();">添加</a>
                <a href="#" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-remove'" onclick="trade.doReloadAccount();">移除</a>
                <table id="role-user-grid" class="easyui-datagrid" data-options="border:false" style="width: 450px">
                    <thead>
                        <tr>
                            <th data-options="field:'Value',width:100">用户帐号</th>
                            <th data-options="field:'Value',width:100">姓名</th>
                            <th data-options="field:'Value',width:100">工号</th>
                            <th data-options="field:'Value',width:150">组织</th>
                        </tr>
                    </thead>
                </table>                

                <div class="view-title" style="padding-top: 10px;">@Lang.Common.Form_Additional</div>
                <table class="view-table">
                    <tr>
                        <td><label>创建日期:</label></td>
                        <td><input name="CreatedAt" readonly="readonly"/></td>
                        <td><label>创建人:</label></td>
                        <td><input name="CreatedBy" readonly="readonly"/></td>
                    </tr>
                    <tr>
                        <td><label>修改日期:</label></td>
                        <td><input  name="UpdatedAt" readonly="readonly"/></td>
                        <td><label>修改人:</label></td>
                        <td><input name="UpdatedBy" readonly="readonly"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>